@charset "UTF-8";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 71.45px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header #logoMobile {
  width: 40px;
}
header #logoDesktop {
  display: none;
}
header .containerButtonRegister {
  display: none;
}
header .containerButtonRegister .buttonRegister {
  display: none;
}
header .containerButtonRegister .buttonRegisterHand {
  display: none;
}

nav.is_active {
  display: block;
  padding: 15px;
}

nav {
  position: absolute;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  top: 100%;
  width: 100%;
  z-index: 1001;
  padding: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Blinker", sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: #ffa123;
}

.hamburger {
  background-color: transparent;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
}

._layer {
  margin-bottom: 3px;
  border-radius: 2px;
  width: 28px;
  height: 5px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.-top {
  background: #ffa123;
}

.-mid {
  background: #D8031F;
}

.-bottom {
  background: #34a6a3;
}

.hamburger.is-active .-top {
  transform: translateY(150%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
  transform: rotate(135deg) !important;
}

.hamburger.is-active .-bottom {
  opacity: 0;
}

#home {
  width: 100%;
  height: 100vh;
  min-height: 750px;
  padding: 0;
  background-image: url("../../images/bg_home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#home .homeLogo {
  max-width: 100%;
  position: relative;
  margin: 80px 0 50px 0;
}
#home .homeLogo .homeLogoTittle {
  position: absolute;
  width: max-content;
  top: 180px;
  left: 137px;
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-size: 29px;
  text-shadow: 0px 1.5px 2.8px rgba(0, 0, 0, 0.32);
  color: #D8031F;
  margin: 0;
}
#home .homeLogo .homeContainerImgYDaleMasAfro {
  display: flex;
  align-items: end;
}
#home .homeLogo .homeContainerImgYDaleMasAfro .homeContainerImg {
  width: 137px;
}
#home .homeLogo .homeContainerImgYDaleMasAfro .homeContainerImg img {
  width: 100%;
}
#home .homeLogo .homeContainerImgYDaleMasAfro .homeContainerDaleMasAfro {
  width: 168px;
}
#home .homeLogo .homeContainerImgYDaleMasAfro .homeContainerDaleMasAfro h1 {
  width: 100%;
  font-family: "Blinker", sans-serif;
  font-weight: 800;
  font-size: 72px;
  text-align: left;
  color: #ffa123;
  line-height: 83.5%;
  text-shadow: 0px 1.5px 2.8px rgba(0, 0, 0, 0.32);
  margin: 0;
}
#home .homeLogo .homeContainerImgYDaleMasAfro .homeContainerDaleMasAfro::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 2px;
  top: -8px;
  right: 6px;
  box-shadow: 0px 1.5px 2.8px rgba(0, 0, 0, 0.32);
  background-color: #ffa123;
  transform: rotate(-1.5deg);
}
#home .homeInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
#home .homeInfo .boxInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 13px;
}
#home .homeInfo .boxInfo p {
  margin: 0;
  font-size: 25px;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
}
#home .containerButtonRegister {
  width: 200px;
  height: 64px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}
#home .containerButtonRegister .buttonRegister {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8031F;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 24px;
  font-family: "Blinker", sans-serif;
  transition: all 500ms ease;
}
#home .containerButtonRegister .buttonRegister:hover {
  background-color: #a30e22;
  transition: all 500ms ease;
}
#home .containerButtonRegister .buttonRegisterHand {
  width: 75px;
  position: absolute;
  right: -18px;
  top: 5px;
}

section {
  width: 100%;
  padding: 40px 20px 0 20px;
  text-align: center;
  font-family: "Blinker", sans-serif;
  background-color: #F5F5F5;
}
section h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #ffa123;
  text-transform: uppercase;
}
section p, section h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}

.negrita {
  font-weight: 700;
}

.containerImgLine img {
  max-width: 100%;
}

#participation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#participation #cardOne {
  background-image: url("../../images/ali_delgado.jpg");
  background-position: 50% 0%;
}
#participation #cardTwo {
  background-image: url("../../images/moustapha_sene.jpg");
  background-position: 50% 10%;
}
#participation #cardThree {
  background-image: url("../../images/patricia_gomes.jpg");
  background-position: 50% 40%;
}
#participation #cardFour {
  background-image: url("../../images/mailen_lamadrid.jpg");
  background-position: 50% 30%;
}
#participation #cardFive {
  background-image: url("../../images/ntaka.png");
  background-position: 40% 0%;
}
#participation #cardSix {
  background-image: url("../../images/j_anderson.jpg");
  background-position: 50% 15%;
}
#participation .containerCards {
  padding: 5px 0 0 0;
}
#participation .containerCards .cardContainer {
  position: relative;
  max-width: 450px;
  height: 297px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
#participation .containerCards .cardContainer .cardContainer__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 10px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(82%);
  transition: transform 500ms ease;
  text-align: justify;
  color: white;
}
#participation .containerCards .cardContainer .cardContainer__content .cardContainer__name {
  margin: 0;
  padding: 0;
  font-family: "Blinker", sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}
#participation .containerCards .cardContainer .cardContainer__content .cardContainer__body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
}
#participation .containerCards .cardContainer:hover .cardContainer__content {
  transform: translateY(0%);
  transition: transform 500ms ease;
}

#alliances .containerLogo {
  margin: 10px 0 40px 0;
}
#alliances .containerLogo h4 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #666666;
}
#alliances .containerLogo img {
  display: block;
  width: 125px;
  margin: auto;
}
#alliances .containerLogo .imgNosApoya {
  margin-bottom: 20px;
}
#alliances #containerLogosAcompañan {
  padding: 10px 0 40px 0;
}
#alliances #containerLogosAcompañan h4 {
  margin: 0;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #666666;
}

#timeline {
  background-color: white;
  padding: 40px 20px;
}
#timeline p {
  color: #ffa123;
}
#timeline .dayTimeline {
  padding-bottom: 15px;
  text-transform: uppercase;
}
#timeline .containerNameLocal {
  max-width: 388px;
  margin: auto;
  background-color: #D8031F;
  color: white;
  padding: 12px 0;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
}
#timeline #map {
  display: none;
}
#timeline .containerActivity .activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}
#timeline .containerActivity .activity .hour .activityHour {
  background-color: #D8031F;
  color: white;
  max-width: 122px;
  margin: auto;
  border-radius: 16px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
#timeline .containerActivity .activity .hour .containerLineaVertical {
  display: none;
}
#timeline .containerActivity .activity .activityInfo .activityInfoName {
  font-size: 24px;
  font-weight: 600;
  color: #D8031F;
  text-transform: uppercase;
  padding-top: 10px;
}
#timeline .containerActivity .activity .activityInfo .activityInfoDescription {
  font-size: 20px;
  color: #464646;
  font-weight: 400;
}
#timeline .containerActivity .activity .activityInfo .activityInfoDescription ul {
  padding-left: 0;
  list-style: none;
}
#timeline .containerActivity .activity .containerLineaVertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
}
#timeline .containerActivity .activity .containerLineaVertical .lineaVertical {
  width: 5px;
  height: 56px;
  background-color: #D8031F;
  border-radius: 10px;
}
#timeline .ubicacion {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #D8031F;
  border-radius: 8px;
  padding: 11px 0;
  transition: all 500ms ease;
}
#timeline .ubicacion:hover {
  background-color: #D8031F;
  transition: all 500ms ease;
}
#timeline .ubicacion:hover p {
  color: white;
  transition: all 500ms ease;
}
#timeline .ubicacion:hover svg {
  color: white;
  transition: all 500ms ease;
}
#timeline .ubicacion p {
  margin: 0 5px;
  color: #D8031F;
  font-size: 20px;
  font-weight: 600;
}
#timeline .ubicacion svg {
  color: #D8031F;
}

#aboutDaleMasAfro .boxImg, #previousEvent .boxImg {
  display: none;
}

.paragraphDescriptionPaddingBottom {
  padding-bottom: 20px;
}

.buttonSecundary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 145px;
  text-decoration: none;
  color: white;
  background-color: #34a6a3;
  padding: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  transition: all 500ms ease;
}
.buttonSecundary span {
  margin-left: 10px;
}
.buttonSecundary:visited {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.buttonSecundary:hover {
  background-color: #217370;
  color: white;
  transition: all 500ms ease;
}

#previousEvent h4 {
  color: #ffa123;
  font-size: 22px;
  padding-bottom: 30px;
  margin: 0;
}
#previousEvent .containerAliadesPartPaises {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
#previousEvent .containerAliadesPartPaises p {
  margin: 0 10px;
}
#previousEvent .containerAliadesPartPaises span {
  padding-left: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #D8031F;
}

#banner {
  padding: 40px 20px;
}
#banner div img {
  width: 100%;
}

#inscriptionTransmission {
  position: relative;
  padding: 40px 20px 200px 20px;
  background-color: #2c2c2c;
}
#inscriptionTransmission .expAfro {
  margin-bottom: 40px;
  padding: 25px;
  background-color: #217370;
  color: white;
  text-align: center;
  border-radius: 8px;
}
#inscriptionTransmission .expAfro img {
  display: none;
}
#inscriptionTransmission .expAfro .expAfroTittle {
  color: white;
  text-transform: initial;
}
#inscriptionTransmission .expAfro .expAfroContent {
  margin-top: 10px;
  line-height: 32px;
}
#inscriptionTransmission #formInscription {
  background-color: #ffa123;
  padding: 28px;
  border-radius: 8px;
}
#inscriptionTransmission #formInscription h2 {
  color: white;
}
#inscriptionTransmission #formInscription form {
  margin-top: 20px;
}
#inscriptionTransmission #formInscription form .formLabelImput {
  text-align: start;
  padding-bottom: 21px;
}
#inscriptionTransmission #formInscription form .formLabelImput label, #inscriptionTransmission #formInscription form .formLabelImput select {
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
}
#inscriptionTransmission #formInscription form .formLabelImput input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  background-color: transparent;
  padding: 5px;
}
#inscriptionTransmission #formInscription form .formLabelImput input:focus {
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: 400;
}
#inscriptionTransmission #formInscription form .formLabelImput input::placeholder {
  color: white;
  font-weight: 400;
}
#inscriptionTransmission #formInscription form .formLabelImput select {
  border-bottom: 2px solid white;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  font-weight: lighter;
  outline: none;
  color: white;
}
#inscriptionTransmission #formInscription form .formLabelImput select:focus {
  background-color: white;
  color: black;
  border-radius: 10px;
}
#inscriptionTransmission #formInscription form .formLabelImput select option {
  background-color: white;
  color: black;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#inscriptionTransmission #formInscription form input:-webkit-autofill,
#inscriptionTransmission #formInscription form input:-webkit-autofill:hover,
#inscriptionTransmission #formInscription form input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #ffa123 inset;
}
#inscriptionTransmission #formInscription form .containerBotonRegister {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inscriptionTransmission #formInscription form .containerBotonRegister input {
  width: 325px;
  background-color: #D8031F;
  border-radius: 40px;
  padding: 15px;
  border: none;
  color: white;
  font-size: 28px;
  font-weight: 800;
  transition: all 500ms ease;
}
#inscriptionTransmission #formInscription form .containerBotonRegister input:hover {
  background-color: #a30e22;
  transition: all 500ms ease;
}

.modal-dialog {
  justify-content: center;
}

.modal-content {
  max-width: 377px;
  justify-content: center;
  align-items: center;
}
.modal-content .modal-header .modal-title {
  font-size: 20px;
  font-weight: 700;
}
.modal-content .modal-body p {
  margin: 0;
}
.modal-content .modal-footer .buttonContinue {
  min-width: 200px;
  height: 64px;
  position: relative;
  border-radius: 40px;
  border: none;
  background-color: #34A6A3;
  font-size: 24px;
  font-weight: 800;
  color: white;
}

#transmission {
  position: absolute;
  bottom: -420px;
  left: 0px;
  width: 100%;
}
#transmission #boxTransmission {
  margin: 0 20px 0 20px;
  padding: 40px 20px;
  background-color: #3C3C3C;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
#transmission h2 {
  color: white;
}
#transmission p {
  color: #AAAAAA;
  padding-bottom: 10px;
}
#transmission iframe {
  width: 100%;
  border-radius: 16px;
  border-radius: 16px;
  max-width: 640px;
  max-height: 360px;
}

footer {
  text-align: center;
  background-color: white;
  padding: 32px 48px;
  color: #ffa123;
  font-family: "Blinker", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
}
footer .contacto {
  font-size: 24px;
}
footer .contacto .mail {
  font-size: 18px;
  font-weight: 500;
  color: #D8031F;
}
footer .logoFooter {
  padding-bottom: 35px;
}
footer .redes {
  padding-bottom: 35px;
}
footer .redes .redesIcons {
  padding-top: 10px;
}
footer .redes .redesIcons a {
  margin: 0 3px;
  text-decoration: none;
  transition: all 500ms ease;
}
footer .redes .redesIcons a svg {
  color: #D8031F;
}
footer .redes .redesIcons a svg:hover {
  color: #ffa123;
  transition: all 500ms ease;
}
footer .redes .redesIcons a:visited {
  text-decoration: none;
  color: #D8031F;
}

#buttonFloatRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1500;
}
#buttonFloatRegister p {
  margin: 0;
  font-size: 15px;
  font-weight: 800;
  color: #D8031F;
  margin-bottom: 2px;
}
#buttonFloatRegister #buttonRegisterFloat {
  width: 65px;
  height: 65px;
  background: #D8031F;
  border-radius: 100%;
  box-shadow: 3px 3px 5px black;
  transition: all 500ms ease;
}
#buttonFloatRegister #buttonRegisterFloat a img {
  width: 100%;
}
#buttonFloatRegister #buttonRegisterFloat:hover {
  background-color: #a30e22;
  transition: all 500ms ease;
}

@media (min-width: 1200px) {
  #buttonFloatRegister {
    display: none;
  }
}
/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
  position: relative;
  width: 100%;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: gray;
  opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -25px;
  top: 30px;
}
@media (min-width: 768px) {
  .carousel__anterior {
    top: 55px;
  }
}

.carousel__siguiente {
  right: -25px;
  top: 30px;
}
@media (min-width: 768px) {
  .carousel__siguiente {
    top: 55px;
  }
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
  margin: 0 2px;
}
.carousel__elemento p {
  font-size: 15px;
  margin-top: 5px;
}
.carousel__elemento img {
  width: 100px;
}
@media (min-width: 768px) {
  .carousel__elemento img {
    width: 150px;
  }
}

.carousel__indicadores {
  margin-top: 10px;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 10px;
  height: 10px;
  background: gray;
  opacity: 0.2;
  margin-top: 30px;
  border-radius: 100%;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

@media (min-width: 576px) {
  section h2 {
    font-size: 35px;
  }
  section p, section h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .containerImgLine {
    margin-bottom: 10px;
  }
  #home .homeLogo {
    margin: 100px 0 50px 0;
  }
  #home .homeInfo {
    max-width: 380px;
    padding: 16px;
    background: rgba(103, 103, 103, 0.44);
    backdrop-filter: blur(2.47826px);
    border-radius: 13.2174px;
  }
  #home .homeInfo .boxInfo p {
    font-size: 30px;
  }
  #home .containerButtonRegister {
    width: 320px;
    height: 88px;
    border-radius: 66px;
    margin-top: 12px;
  }
  #home .containerButtonRegister .buttonRegister {
    font-weight: 900;
    font-size: 40px;
  }
  #home .containerButtonRegister .buttonRegisterHand {
    width: 98px;
    position: absolute;
    right: -23px;
    top: 10px;
  }
  #participation .containerCards .cardContainer .cardContainer__content .cardContainer__body {
    font-size: 18px;
    line-height: 28.8px;
  }
  #formInscription {
    padding: 100px 150px 100px 100px;
  }
  footer .redes .redesIcons a {
    margin: 15px;
  }
}
@media (min-width: 768px) {
  section h2 {
    font-size: 48px;
  }
  section p, section h3 {
    font-size: 22px;
    line-height: 34px;
  }
  .containerImgLine {
    margin-bottom: 20px;
  }
  #participation .containerCards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  #participation .containerCards .cardContainer {
    margin: 0 10px 30px 10px;
  }
  #participation .containerCards .cardContainer .cardContainer__content {
    gap: 13px;
  }
  #alliances #boxNosApoya {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #alliances .containerLogo {
    margin: 0 0 72px 0;
  }
  #alliances .containerLogo h4 {
    padding-bottom: 32px;
    font-size: 32px;
  }
  #alliances .containerLogo img {
    min-width: 200px;
    margin: 0 50px 0 50px;
  }
  #alliances .containerLogo .imgNosApoya {
    margin: 0 50px 0 50px;
  }
  #alliances .containerLogo #imgNosApoya {
    margin: auto;
  }
  #alliances #containerLogosAcompañan {
    margin: 0 0 72px 0;
  }
  #alliances #containerLogosAcompañan h4 {
    font-size: 32px;
  }
  #timeline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #timeline .ubicacion {
    display: none;
  }
  #timeline .containerImgLine {
    display: none;
  }
  #timeline .boxTimeLine {
    width: 46%;
    text-align: left;
  }
  #timeline .boxTimeLine .dayTimeline {
    font-size: 22px;
    padding: 22px 0;
  }
  #timeline .boxTimeLine .containerNameLocal {
    margin: 0;
    background-color: transparent;
    color: #D8031F;
    padding: 0 0 40px 0;
    border-radius: 0px;
    font-size: 22px;
    font-weight: 700;
  }
  #timeline .boxTimeLine #map {
    display: block;
    width: 100%;
    max-height: 420px;
  }
  #timeline .containerActivity {
    width: 46%;
  }
  #timeline .containerActivity .activity {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
  }
  #timeline .containerActivity .activity .hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
  }
  #timeline .containerActivity .activity .hour .activityHour {
    margin: 0;
  }
  #timeline .containerActivity .activity .hour .containerLineaVertical {
    display: block;
    padding: 15px 0 0 0;
  }
  #timeline .containerActivity .activity .activityInfo {
    text-align: left;
  }
  #timeline .containerActivity .activity .activityInfo .activityInfoName {
    margin-left: 40px;
    padding-top: 0px;
  }
  #timeline .containerActivity .activity .activityInfo .activityInfoDescription {
    margin-left: 40px;
  }
  #timeline .containerActivity .activity .containerLineaVertical {
    display: none;
  }
  #transmission {
    bottom: -450px;
  }
}
@media (min-width: 992px) {
  section {
    padding: 76px 120px 0 120px;
  }
  #timeline {
    padding: 76px 120px;
  }
  #banner {
    padding: 76px 120px;
  }
  #inscriptionTransmission {
    padding: 76px 120px 300px 120px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url("../../images/background-inscription.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #inscriptionTransmission .expAfro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 35%;
    border-radius: 16px 0px 0px 16px;
    position: relative;
    background-color: transparent;
  }
  #inscriptionTransmission .expAfro::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../../images/img-inscripcion.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  #inscriptionTransmission .expAfro::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #217370;
    opacity: 0.8;
  }
  #inscriptionTransmission .expAfro img {
    display: inline-block;
    z-index: 99;
  }
  #inscriptionTransmission .expAfro .expAfroTittle {
    font-size: 28px;
    text-transform: initial;
    z-index: 99;
  }
  #inscriptionTransmission .expAfro .expAfroContent {
    margin-top: 10px;
    line-height: 32px;
    z-index: 99;
  }
  #inscriptionTransmission #formInscription {
    width: 65%;
    border-radius: 0px 16px 16px 0px;
    text-align: left;
    padding: 100px 150px 100px 100px;
  }
  #inscriptionTransmission #formInscription .containerImgLine {
    display: none;
  }
  #inscriptionTransmission #formInscription .containerBotonRegister {
    width: 100%;
    justify-content: flex-start !important;
  }
  #inscriptionTransmission #formInscription .containerBotonRegister input {
    max-width: 200px;
  }
  #inscriptionTransmission #transmission {
    bottom: -500px;
  }
  #inscriptionTransmission #transmission #boxTransmission {
    padding: 76px 0;
    margin: 0 120px 0 120px;
  }
  #inscriptionTransmission #transmission #boxTransmission p {
    padding-bottom: 50px;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 550px;
  }
}
@media (min-width: 1200px) {
  html {
    scroll-padding-top: 116px;
  }
  header {
    padding: 10px 20px;
  }
  header #logoMobile {
    display: none;
  }
  header #logoDesktop {
    display: inline;
  }
  header nav {
    position: relative;
    display: block;
  }
  header nav #navInscription {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    font-size: 15px;
    margin: 0;
    text-align: center;
  }
  header nav ul li a {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  header nav ul li a:hover {
    background-color: #ffa123;
    color: white;
  }
  header .hamburger {
    display: none;
  }
  header .containerButtonRegister {
    display: block;
    min-width: 200px;
    height: 64px;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
  }
  header .containerButtonRegister .buttonRegister {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8031F;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 24px;
    font-family: "Blinker", sans-serif;
    transition: all 500ms ease;
  }
  header .containerButtonRegister .buttonRegister:hover {
    background-color: #a30e22;
    transition: all 500ms ease;
  }
  header .containerButtonRegister .buttonRegisterHand {
    display: block;
    width: 75px;
    position: absolute;
    right: -18px;
    top: 5px;
  }
  #aboutDaleMasAfro, #previousEvent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #aboutDaleMasAfro .boxImg, #previousEvent .boxImg {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #aboutDaleMasAfro .boxImg img, #previousEvent .boxImg img {
    width: 100%;
  }
  #aboutDaleMasAfro .boxInfo, #previousEvent .boxInfo {
    width: 48%;
    text-align: justify;
  }
  #aboutDaleMasAfro .boxInfo h2, #previousEvent .boxInfo h2 {
    margin-bottom: 30px;
  }
  #aboutDaleMasAfro .boxInfo .containerAliadesPartPaises, #previousEvent .boxInfo .containerAliadesPartPaises {
    justify-content: flex-start;
  }
  #aboutDaleMasAfro .boxInfo .containerAliadesPartPaises p, #previousEvent .boxInfo .containerAliadesPartPaises p {
    margin: 0 45px 0 0;
  }
  #aboutDaleMasAfro .boxInfo .containerImgLine, #previousEvent .boxInfo .containerImgLine {
    display: none;
  }
  #aboutDaleMasAfro .boxInfo .buttonSecundary, #previousEvent .boxInfo .buttonSecundary {
    margin: 0;
  }
  #transmission iframe {
    max-width: 854px;
    max-height: 480px;
  }
}
@media (min-width: 1450px) {
  header {
    padding: 10px 50px;
  }
  header nav ul li {
    font-size: 17px;
    margin: 0 10px 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
