//HEADER
header{
    width: 100%;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 5px rgba(0,0,0,0.39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    #logoMobile{
      width: 40px;
    }
    #logoDesktop{
      display: none;
    }
    .containerButtonRegister{
      display: none;
      .buttonRegister{
        display: none;
      }
      .buttonRegisterHand{
        display: none;
      }
    }
}
nav.is_active{
    display: block;
    padding: 15px;
}
nav{
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    display: none;
    top: 100%;
    width: 100%;
    z-index: 1001;
    padding: 0;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        text-align:center;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $fontBlinker;
        font-size: 16px;
        margin-bottom: 16px;
        a{
          text-decoration:none;
          color: black;
          &:hover{
            color: $colorOrange;
        }
      }
    }
  }
}