@media (min-width:576px){
    section{
        h2{
            font-size: 35px;
        }
        p{
            line-height: 30px;
        }
    }
    .containerImgLine{
        margin-bottom: 10px;
    }
    #formInscription{
        padding: 100px 150px 100px 100px;
    }
    footer{
        .redes{
            .redesIcons{
                a{
                    margin: 15px;
                }
            }
        }  
    }
}

@media (min-width:768px) {
    section{
        h2{
            font-size: 48px;
        }
        p{
            font-size: 20px;
            line-height: 32px;
        }
    }
    .containerImgLine{
        margin-bottom: 20px;
    }
    #participation{
        .containerCards{
            display: flex;
            justify-content:space-around;
            align-items: center;
            flex-wrap: wrap;
            .cardContainer{
                margin: 0 10px 30px 10px;
                .cardContainer__content{
                    gap: 13px;
                    .cardContainer__body{
                        font-size: 18px;
                        line-height: 28.8px;
                    }
                }
            }
        }
    }
    #alliances{
        #boxNosApoya{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .containerLogo{
            margin: 0 0 72px 0;
           h4{
                padding-bottom: 32px;
                font-size: 32px;
            }   
            img{
                min-width: 200px;
                margin: 0 50px 0 50px;
            }
            .imgNosApoya{
                margin:  0 50px 0 50px;
            }
            #imgNosApoya{
                margin: auto;
            }              
        }
        #containerLogosAcompañan{
            margin: 0 0 72px 0;
            h4{
                font-size: 32px;
            }
        }
    }
    #timeline{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .ubicacion{
            display: none;
        }
        .containerImgLine{
            display: none;
        }
        .boxTimeLine{
            width: 40%;
            text-align: left;
            .dayTimeline{
                font-size: 22px;
                padding: 22px 0;
            }
            .containerNameLocal{
                margin: 0;
                background-color: transparent;
                color: $colorRed;
                padding: 0 0 40px 0;
                border-radius:0px;
                font-size: 22px;
                font-weight: 700;
            }
            #map{
                display: block;
                width: 100%;
                min-height: 900px;
            }
        }
        .containerActivity{
            width: 45%;            
            .activity{
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 14px 0;
                .hour{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 100px;
                    .activityHour{
                        margin: 0;
                    }
                    .containerLineaVertical{
                        display: block;
                    }
                }
                .activityInfo{
                    text-align: left;
                    .activityInfoName{
                        margin-left: 50px;
                        padding-top: 0px;
                    }  
                    .activityInfoDescription{
                        margin-left: 50px;
                        ul{
                            padding-left: 2rem;
                            list-style: disc;
                        }
                    }
                }
                .containerLineaVertical{
                    display: none;
                }
            }
        }
    }
    #transmission{
        bottom: -450px;
    }
}

@media (min-width:992px) {
    section{
        padding: 76px 120px 0 120px;
    }
    #timeline{
        padding: 76px 120px;
    }
    #banner{
        padding: 76px 120px;
    }
    #inscriptionTransmission{
        padding: 76px 120px 300px 120px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url("../../images/background-inscription.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        .expAfro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            width: 35%;
            border-radius: 16px 0px 0px 16px;
            position: relative;
            background-color: transparent;
            &::before{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background-image: url("../../images/img-inscripcion.png");
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
            &::after{
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                background-color: $colorLigthBlueHover;
                opacity: 0.8;
            }
            img{
                display: inline-block ;
                z-index: 99;
            }
            .expAfroTittle{
                font-size: 28px;
                text-transform: initial;
                z-index: 99;
            }
            .expAfroContent{
                margin-top: 10px;
                line-height: 32px;
                z-index: 99;
            }
        }
        #formInscription{
            width: 65%;
            border-radius:0px  16px  16px  0px;
            text-align: left;
            padding: 100px 150px 100px 100px;
            .containerImgLine{
                display: none;
            }
            .containerBotonRegister{
                width: 100%;
                justify-content: flex-start !important;
                input{
                    max-width: 200px;
                }
            }
        }
        #transmission{
            bottom: -500px;
            #boxTransmission{
                padding: 76px 0;
                margin: 0 120px 0 120px;
                p{
                    padding-bottom: 50px;
                }
                
                
            }
        }
    }
    footer{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 550px;     
    }
}

@media (min-width:1200px) {
    html{
        scroll-padding-top: 93px;
    }
    header{
        padding: 10px 20px;
        #logoMobile{
            display: none;
        }
        #logoDesktop{
            display: inline;
        }
        nav{
            position: relative;
            display: block;
            #navInscription{
                display: none;
            }
            ul{
            display: flex;
            justify-content: center;
            align-items: center;
                li{
                font-size: 15px;
                margin: 0;
                text-align: center;
                    a{
                        width: 100%;
                        padding: 10px;
                        margin: 0;
                        &:hover{
                            background-color: $colorOrange;
                            color: white;
                        }
                    }
                }
            }
        }
        .hamburger{
            display: none;
        }
        .containerButtonRegister{
            display: block ;
            min-width: 200px;
            height: 64px;
            position: relative;
            border-radius: 40px;
            overflow: hidden;
            .buttonRegister{
                display: block ;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $colorRed;
                text-decoration: none;
                color: white;
                font-weight: 800;
                font-size: 24px;
                font-family: $fontBlinker;
                transition: all 500ms ease;
                &:hover{
                    background-color: $colorRedHover;
                    transition: all 500ms ease;
                }
            }
            .buttonRegisterHand{
                display: block ;
                width: 75px;
                position: absolute;
                right: -18px;
                top: 5px;
            }
        }
    }   
    #home{
        .homeLogo{
            margin: 70px 0 110px 0;
            .homeLogoTittle{
                position: absolute;
                top:75px;
                left: -95px;
                font-size: 100px;
            }
            .homeContainerImgYDaleMasAfro{
                .homeContainerImg{
                    max-width: 59px;
                    img{
                        width: 100%;
                    }
                }
                .homeContainerDaleMasAfro{
                    max-width: 75px;
                    h1{
                        font-size: 32px !important;
                    }
                    &::before{
                    max-width: 69px;
                    max-height: 1px;
                    }
                }
            }
        }
        .homeInfo{
            max-width: 380px;
            padding: 16px;
            background: rgba(103, 103, 103, 0.44);
            backdrop-filter: blur(2.47826px);
            border-radius: 13.2174px;
            .boxInfo{
                p{
                    font-size: 30px;
                }
            }
        }
        .containerButtonRegister{
            width: 320px;
            height: 88px;
            border-radius: 66px;
            margin-top: 12px;
            .buttonRegister{
                font-weight: 900;
                font-size: 40px;
            }
            .buttonRegisterHand{
                width: 98px;
                position: absolute;
                right: -23px;
                top: 10px;
            }
        }
    }
    #aboutDaleMasAfro, #previousEvent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .boxImg{
            width: 48%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
        }
        .boxInfo{
            width: 48%;
            text-align: justify;
            h2{
                margin-bottom: 45px;
            }
            .containerAliadesPartPaises{
                justify-content: flex-start;
                p{
                    margin: 0 45px 0 0;
                }
            }
            .containerImgLine{
                display: none;
            }
            .buttonSecundary{
                margin: 0;
            }
        }
    }
    #transmission{
        iframe{
            max-width: 854px;
            max-height: 480px;
        }
    }
}

@media (min-width:1450px){
    header{
        padding: 10px 50px;
        nav{
            ul{
                li{
                    font-size: 17px;
                    margin: 0 10px 0 10px;
                }
            }
        }
    }
}