#inscription{
    padding: 0;
    .expAfro{
        padding: 24px 20px;
        background-color: $colorLigthBlueHover;
        color: white;
        text-align: center;
        .expAfroTittle{
            font-size: 24px;
            font-weight: bold;
        }
        .expAfroContent{
            font-size: 18px;
        }
    }
    #formInscription{
        background-color: $colorOrange;
        padding: 28px;
        h2{
            color: white;
        }
        form{
            .formLabelImput{
                text-align: start;
                padding-bottom: 21px;
                label, input, select{
                    width: 100%;
                    color: white;
                    font-size: 16px;
                    background-color: transparent;
                }
                input{
                    border-bottom: 2px solid white;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    outline: none;
                    background-color: transparent;
                    padding: 5px;
                    &:focus{
                        background-color: white;
                        color: black;
                        border-radius: 10px;
                    }
                    &::placeholder{
                        color: white;
                        font-weight: 300;
                    }  
                }
                select{
                    border-bottom: 2px solid white;
                    background: transparent;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    padding: 5px;
                    font-weight: lighter;
                    outline: none;
                    color: white;
                    &:focus{
                        background-color: white;
                        color: black;
                        border-radius: 10px;
                    }
                    option{
                        background-color: white;
                        color: black;
                        outline: none;
                        appearance: none;
	                    -webkit-appearance: none;
	                    -moz-appearance: none;
                    }
                }  
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover, 
            input:-webkit-autofill:focus
            {
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px $colorOrange inset;
            }
            .containerBotonRegister{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 325px;
                    background-color: $colorRed;
                    border-radius: 40px;
                    padding: 15px;
                    border: none;
                    color: white;
                    font-size: 28px;
                    font-weight: 800;
                    transition: all 500ms ease;
                    &:hover{
                        background-color: $colorRedHover;
                        transition: all 500ms ease;
                    }
                }
            }
        }
    }
}