//VARIABLES
$colorOrange: #ffa123;
$colorOrangeHover:#b06808;
$colorLigthBlue: #34a6a3;
$colorLigthBlueHover:#217370;
$colorRedHover:#a30e22;
$colorRed: #e60122;
$colorLigthGray: #F5F5F5;
$colorBlackHover:rgb(56, 56, 56);
$fontBlinker: 'Blinker', sans-serif;
